<div class="h-full flex flex-col">
  <div
    class="flex text-left m-2 justify-evenly"
    *ngIf="scores$ | async as scores"
  >
    <p class="text-xl uppercase font-bold">
      You: <span>{{ scores.player1 }}</span>
    </p>
    <p class="text-xl uppercase font-bold">
      AI: <span>{{ scores.player2 }}</span>
    </p>
  </div>
  <div id="last-state" class="uppercase font-sm font-bold">
    <p>{{ gameState$ | async | gameStatePresenter }}</p>
  </div>
  <div class="flex-1 grid place-content-center">
    <div *ngIf="shouldDisplayWeaponChooser$ | async">
      <p
        class="text-lg uppercase font-bold my-4 text-gray-500"
        [ngClass]="{ 'animate-bounce': (gameState$ | async) === 'ready' }"
      >
        Pick your weapon
      </p>

      <button
        class="text-lg uppercase font-bold my-4 disabled:opacity-20"
        *ngFor="let weapon of weapons$ | async"
        [disabled]="(gameState$ | async) !== 'ready'"
        (click)="play(weapon)"
      >
        {{ weapon.label }}
      </button>
    </div>
  </div>

  <!-- If the number of RxJS subscriptions from the async pipe number is high,
       we can use the *ngIf trick to reduce it 
  -->
  <div>
    <button
      class="font-bold disabled:text-gray-300"
      (click)="_toggleAnimations()"
    >
      {{
        (_areAnimationsEnabled$() | async)
          ? "Disable animations"
          : "Enable animations"
      }}
    </button>
  </div>
</div>
